.container{
    display: flex;
    align-items: center;
}
.button{
  color: white;
  padding: 5px;
  cursor: pointer;
}
.active{
    background-color: greenyellow;
    border-radius: 50%;
    color: black
}